@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
   --rosa-claro-fundo: #FF93FF;
   --botao-1e3-roxo-claro: #C6A0F2;
   --botao-2e4-roxo-escuro: #8D7FEB;
   --roxo-claro-texto1: #CAAAED;
   --rosa-claro-texto2: #FF93D4;
   --rosa-pink-cronometro: #EB02B8;
}  
body{
   background-color: var(--rosa-claro-fundo);
   color: var(--branco);
   font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.titulo-principal{
   text-align: left;
   width: 100%;
   font-size: 32px;
}
.titulo-principal span{
   color: var(--rosa-pink-cronometro);
}
.botao{
   font-family: 'Chakra Petch', sans-serif;
   background-color: var(--botao-2e4-roxo-escuro);
   color: var(--branco);
   display: flex;
   justify-content: center;
   padding: 1em;
   font-size: 18px;
   align-items: center;
   width: 100%;
   border-bottom: 4px solid var(--rosa-pink-cronometro);
   border-left: 2px solid var(--rosa-pink-cronometro);
   border-right: 2px solid var(--rosa-pink-cronometro);
   border-top: none;
}
.botao:first-child{
   border-radius: 40px 40px 0 0;
}

@media screen and (min-width:768px){
   .botoes{
      display: flex;
   }
   
}
